


@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #eee;
    @include no-select;
}

.start-game {
    
    @include no-select;
    width: 80vw;
    font-size: 20pt;
    padding: 10px;
    height: 55px;
    position: absolute;
    left: 10vw;
    bottom: 20px;
    
}

#header {
    width: 100vw;
    height: 90px;
    background-color: #555;
    
    .title {
        font-size: 32pt;
        position: absolute; 
        left: 85px;
        padding-top: 15px;
    }
    
}
nav {
    height: auto;
}

#container {
    width: 100vw;
    height: calc(100vh - 90px);
    padding: 20px;
    /*background-image: url(../img/bg.jpg);*/
    overflow: auto;
}

.toplevel-navigation {
    
    padding: 50px;
    font-size: 20pt;
    @include no-select;
    
}

.spielen-container {
    
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    background-color: black;
    
    .word {
        width: 100%;
        text-align: center;
        font-size: 32pt;
        margin-top: calc(50vh - 32px);
    }
    
    .countdown {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 32pt;
    }
    
}

.word-was-true {
    background-color: green;
    color: white;
}
.word-was-false {
    background-color: red;
    color: white;
}
.play-again {
    
}

.main-floatingicon {
    position: fixed;
    right: 50px;
    top: 55px;
    display: none;
}

.start-online-game {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background-color: white;
    border-top: 1px solid #999;
    text-align: center;
    padding-top: 8px;
    font-size: 16pt;
}

.start-countdown {
    
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 64pt;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    
    div {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    
}

.player-ready {
    position: relative;
}
.player-ready:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #00ff00;
}
.player-waiting {
    position: relative;
}
.player-waiting:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #ff0000;
}