
@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.start-game {
    
    @include no-select;
    width: 80vw;
    font-size: 20pt;
    padding: 10px;
    height: 55px;
    position: absolute;
    left: 10vw;
    bottom: 20px;
    
}

#container {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-image: url(../img/bg.jpg);
    overflow: auto;
    position: fixed;
}

.toplevel-navigation {
    
    padding: 50px;
    font-size: 20pt;
    @include no-select;
    
}

.spielen-container {
    
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    
    .word {
        width: 100%;
        text-align: center;
        font-size: 32pt;
        margin-top: calc(50vh - 32px);
    }
    
    .countdown {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 32pt;
    }
    
}

.word-was-true {
    background-color: green;
    color: white;
}
.word-was-false {
    background-color: red;
    color: white;
}
.play-again {
    background-color: blue;
    color: white;
}