
<div id="modalCreateRoom" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Neuer Raum</h4>
        <input type="text" placeholder="Raumname" id="raumname">
    </div>
    <div class="modal-footer">
        <a href="#!" class="waves-effect waves-purple btn-flat" onclick="createRoom();">Erstellen</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-purple btn-flat">Abbrechen</a>
    </div>
</div>

<div id="modalSetCategory" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Kategorie wählen</h4>
        <ul class="collection" id="categoryCollection">
            {{#categories}}
                <li class="collection-item">{{name}}</li>
            {{/categories}}
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="waves-effect waves-purple btn-flat" onclick="createRoom();">Erstellen</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-purple btn-flat">Abbrechen</a>
    </div>
</div>

<div id="roomList">
    
</div>

<div class="start-online-game" id="startOnlineGame" style="display: none;" onclick="requestStartGame();">STARTEN</div>
<div class="start-online-game" id="readyOnlineGame" style="display: none;" onclick="requestReady();">BEREIT</div>

<div class="start-countdown" id="startCountdown">
    <div class="valign-wrapper">
        <div style="width: 100%; height: auto;">
            5
        </div>
    </div>
</div>