
<div id="onlineWord" style="width: 100%; font-size: 32pt; color: black; text-align: center;">
    
</div>

<div id="onlineCorrect" style="position: fixed; bottom: 0; left: 0; right: 50vw; cursor: pointer; height: 50px;">
    <div class="btn" style="width: 100%;" onclick="correctOnline();">
        Richtig
    </div>
</div>
<div id="onlineSkip" style="position: fixed; bottom: 0; left: 50vw; right: 0; cursor: pointer; height: 50px;">
    <div class="btn" style="width: 100%;" onclick="skipOnline();">
        Nächstes
    </div>
</div>